:root {
  --natural-500: #0b3954;
  --natural-400: #10567e;
  --natural-300: #177bb5;
  --natural-200: #269ee3;
  --natural-100: #6fbeec;
  font-family: "Roboto", sans-serif;
  background-color: var(#ffffff);
}
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonsCard {
  width: 100%;
  height: 5rem;
  background-color: var(--natural-300);
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1.2rem;
  grid-template-columns: repeat(4, 1fr);
}

.buttonsCard__button {
  background-color: var(--natural-200);
  border: none;
  border-radius: 16px;
  width: 8rem;
  height: 1.8rem;
  box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.buttonsCard__button:hover {
  cursor: pointer;
  box-shadow: 0px 8px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
}

.buttonsCard__button:focus {
  box-shadow: inset 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}

.buttonsCard__button:active {
  box-shadow: inset 0px 8px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
}

.searchCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  width: 60%;
  height: 30%;
  padding: 1.2rem;
  background-color: var(--natural-300);
  box-shadow: 0px 8px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.searchCard__input {
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 10rem;
  min-width: 120px;
  color: var(--natural-500);
  box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.25);
  height: 40px;
  padding-left: 0.8rem;
}

.searchCard__input:focus {
  box-shadow: inset 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}

::placeholder {
  color: var(--natural-500);
  font-size: inherit;
  font-family: inherit;
}

.searchCard__select {
  appearance: none;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  padding-left: 0.8rem;
  height: 40px;
  width: 10rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: var(--natural-500);
  cursor: pointer;
  line-height: inherit;
  box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.25);
}

.searchCard__select:focus {
  box-shadow: inset 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}

.listCard {
  margin-top: 60px;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1.2rem;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 100px;
}

.listCard__listElem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 0;
  width: 70%;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 8px 4px 2px rgba(0, 0, 0, 0.25);
  color: var(--natural-500);
}

.listElem__img {
  width: 100%;
  height: 300px;
}

.listElem__p {
  justify-self: flex-end;
  text-align: center;
  margin: 0;
}

.listElem__h3 {
  margin: 0;
}

.listElem__h6 {
  margin: 0;
}

@media (max-width: 900px) {
  .listCard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .buttonsCard {
    grid-template-columns: repeat(2, 1fr);
    height: 8rem;
  }
  .searchCard {
    flex-direction: column;
  }

  .searchCard__select {
    margin-top: 0.8rem;
  }
  .listCard {
    grid-template-columns: repeat(1, 1fr);
  }
}
